flask==3.0.2
scikit-learn==1.4.1.post1
transformers==4.40.1
langgraph==0.0.68
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu
diffusers==0.27.2
accelerate==0.29.3
gunicorn==21.2.0
sentencepiece==0.2.0
protobuf==4.25.3
frozen-flask==0.18
